{% extends "base.html" %}

{% block content %}
<h1>Album Details</h1>


<div class="flex flex-wrap">
    <div class="w-33 pa3">
            <br>
            <br>
        <h2>{{ album.album_title }}</h2>

        {% if album.image %}
        <img src="{{ album.image.url }}" alt="album image">
        {% endif %}
        <div class="flex">
            <div class="pr2"></div>
            <br>
            <div>
                {{ album.artist }}<br />
                {{ album.created_at }}
            </div>

        <p>
            <a href="{% url 'album_home' %}">Return to Homepage</a><br>
            <a href="{% url 'edit_album' pk=album.pk %}">Edit Album Details</a><br>
            <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album Entry</a>
        </p>
        <br>
        <br>
        </div>
    </div>
    
</div>
{% endblock %}